* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background: #222;
    padding: 1rem;
    margin-bottom: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    
}

nav a {
    color: white;
    text-decoration: none;
}

.nav-container {
    border: 2px ddashe black;
}

.contact-section {
    padding: 3rem;
    background: #f9f9f9;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 0.75rem;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
}