* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.nav-container {
    background: #222;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 4rem;
    margin-bottom: 1em;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
  color: #7DCFB6;
  font-size: 1.05em
}


.contact-section {
    padding: 3rem;
    background: #f9f9f9;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 0.75rem;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover{
    background-color: #7DCFB6;
}

